{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<title>P3 Coloring</title>

	<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'coloring/vendors/paper/paper-full.min.js' %}"></script>

	<style type="text/css">
		#color-palette {
			width: 00px;
			background-color: #ffffff;
			display: flex;
			flex-wrap: wrap;
			position: relative;
			margin-top: 1vh;
		}
		#reds {
			width: 56vw;
			height: 3.75vh;
			background-color: #fff;
			display: flex;
			flex-wrap: wrap;
			position: relative;
			top: 0;
			visibility: none;
			left: 2vw;
		}
		#oranges {
			width: 36vw;
			height: 3.75vh;
			background-color: #fff;
			display: flex;
			flex-wrap: wrap;
			position: relative;
			top: 0;
			visibility: hidden;
			left: 2vw;
		}
		#yellows {
			width: 36vw;
			height: 3.75vh;
			background-color: #fff;
			display: flex;
			flex-wrap: wrap;
			position: relative;
			top: 0;
			visibility: hidden;
			left: 2vw;
		}
		#greens {
			width: 36vw;
			height: 3.75vh;
			background-color: #fff;
			display: flex;
			flex-wrap: wrap;
			position: relative;
			top: 0;
			visibility: hidden;
			left: 2vw;
		}
		#blues {
			width: 36vw;
			height: 3.75vh;
			background-color: #fff;
			display: flex;
			flex-wrap: wrap;
			position: relative;
			top: 0;
			visibility: hidden;
			left: 2vw;
		}
		#indigos {
			width: 36vw;
			height: 3.75vh;
			background-color: #fff;
			display: flex;
			flex-wrap: wrap;
			position: relative;
			top: 0;
			visibility: hidden;
			left: 2vw;
		}
		#violets {
			width: 36vw;
			height: 3.75vh;
			background-color: #fff;
			display: flex;
			flex-wrap: wrap;
			position: relative;
			top: 0;
			visibility: hidden;
			left: 2vw;
		}
		#browns {
			width: 36vw;
			height: 3.75vh;
			background-color: #fff;
			display: flex;
			flex-wrap: wrap;
			position: relative;
			top: 0;
			visibility: hidden;
			left: 2vw;
		}
		#grays {
			width: 36vw;
			height: 3.75vh;
			background-color: #fff;
			display: flex;
			flex-wrap: wrap;
			position: relative;
			top: 0;
			visibility: hidden;
			left: 2vw;
		}

		#colors-box {
			visibility: hidden;
		}



		.swatch {
			
			border-radius: 100px; 
			height:60px; 
			width: 60px;
		
			margin: 3px;
		}

		#myCanvas {
			padding-left: 0;
		    padding-right: 0;
		    margin-left: auto;
		    margin-right: auto;
		    display: block;
		}

		.sidebar {
			position: fixed;
			width: 0;
			height: 100%;
			padding: 5px 0 0 10px;
			top: 0;
			left: 0;
			background-color: #fff;
			overflow-x: hidden;
			transition: 0.5s;
			z-index: 2;
		}

		.sidebar a {
			padding: 10px;
			text-decoration: none;
			font-size: 20px;
			color: #000;
			display: block;
			transition: 0.3s;
		}

		#overlay {
			position: fixed;
			display: none;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(0,0,0,0.5);
			z-index: 1;
		}

		#menu {
			font-size: 40px !important;
			text-decoration: underline !important;
		}

		.favoritesButton {
			opacity: 100; 
			width: 60px; 
			height: 60px; 
			border-radius: 200px;
			font-size: 20px;

		}
		.favoritesInput {
			opacity: 0; 
			width: 60px; 
			height: 60px; 
			border-radius: 200px

		}
		
	</style>

	<script type="text/javascript" canvas="canvas">
		window.onload = function() {
			var canvas = document.getElementById('myCanvas');

			// coloring page
			var mandala = {
				item: null,
				lastClicked: null,
				filePath: '/static/coloring/images/mandala-freepik.svg'
			};

			// color palette
			var cp = {
				history: ["#000000"], // black selected by default
				options: [],
				$container: $('#color-palette')
			}
			var cpreds = {
				history: ["#000000"], // black selected by default
				options: [],
				$container: $('#reds')
			}
			function myCustomInteraction() {
				var tool = new paper.Tool();

				tool.onMouseDown = function (event) {
				    var hit = mandala.item.hitTest(event.point, { tolerance: 10, fill: true });
				    if (hit) {
				    		// Color pallette keeps track of the full history of colors, though we
				    		// only color in with the most-recent color.
				        hit.item.fillColor = cp.history[cp.history.length - 1];
				    }
				}
			}

			// create a color palette with the given colors
			function createColorPalette(colors){
				// create a swatch for each color
				for (var i = colors.length - 1; i >= 0; i--) {
					var $swatch = $("<div>").css("background-color", colors[i])
									   .addClass("swatch");
					$swatch.click(function(){
						// add color to the color palette history
					  	cp.history.push($(this).css("background-color"));
					});
					cpreds.$container.append($swatch);
				}
			}

			// loads a set of colors from a json to create a color palette
			function getColorsCreatePalette(){
				cp.$container.html(" ");
				$.getJSON('/static/coloring/vendors/material/material-colors.json', function(colors){
					var keys = Object.keys(colors);
					for (var i = keys.length - 1; i >= 0; i--) {
						cp.options.push(colors[keys[i]][500]);
					}
					createColorPalette(cp.options);
				});
			}

			function init(custom){
				paper.setup(canvas);
				//getColorsCreatePalette();

				paper.project.importSVG(mandala.filePath, function(item) {
					mandala.item = item._children["design-freepik"];
				    paper.project.insertLayer(0,mandala.item);

				    if (custom) {
				    	myCustomInteraction();
				    } else {
				    	myGradientInteraction();
				    }

				});
			}
			function toggleColorsBox(){
				let box = document.getElementById("colors-box");
				if(box.style.visibility === "hidden") {
					box.style.visibility = "visible";
				} else {
					box.style.visibility = "hidden";
				}
			}
			function toggleColors(color){
				let colors = document.getElementById(color + "colors-box");
				if(box.style.visibility === "hidden") {
					box.style.visibility = "visible";
				} else {
					box.style.visibility = "hidden";
				}
			}
			function togglePaletteSpectrum(color){
				let palette = document.getElementById("palette");
				let spectrum = document.getElementById("spectrum")
				if(palette.style.visibility === "hidden") {
					spectrum.style.visibility = "hidden";
					palette.style.visibility= "visible";
					
				} else {
					spectrum.style.visibility = "visible";
					palette.style.visibility= "hidden";
				}
			}
			function clearColorPalette() {
				cpreds.$container.empty();
			}
			function changeButtonText(color) {
				let btn = document.getElementById("toggleColorsBoxButton");
				btn.innerText = color;
				
			}
			// Set up the mandala interactivity.
			init(true);
			document.getElementById("toggleColorsBoxButton").addEventListener("click", toggleColorsBox, true);
			document.getElementById("redButton").addEventListener("click", function() {
				changeButtonText("Red");
				clearColorPalette();
				createColorPalette(reds);
				toggleColorsBox();
			}, false);
			document.getElementById("orangeButton").addEventListener("click", function() {
				changeButtonText("Orange");
				clearColorPalette();
				createColorPalette(oranges);
				toggleColorsBox();
			}, false);
			
			document.getElementById("yellowButton").addEventListener("click", function() {
				changeButtonText("Yellow");
				clearColorPalette();
				createColorPalette(yellows);
				toggleColorsBox();
			}, false);
			document.getElementById("greenButton").addEventListener("click", function() {
				changeButtonText("Green");
				clearColorPalette();
				createColorPalette(greens);
				toggleColorsBox();
			}, false);
			document.getElementById("blueButton").addEventListener("click", function() {
				changeButtonText("Blue");
				clearColorPalette();
				createColorPalette(blues);
				toggleColorsBox();
			}, false);
			document.getElementById("indigoButton").addEventListener("click", function() {
				changeButtonText("Indigo");
				clearColorPalette();
				createColorPalette(indigos);
				toggleColorsBox();
			}, false);
			document.getElementById("violetButton").addEventListener("click", function() {
				changeButtonText("Violet");
				clearColorPalette();
				createColorPalette(violets);
				toggleColorsBox();
			}, false);
			document.getElementById("brownButton").addEventListener("click", function() {
				changeButtonText("Brown");
				clearColorPalette();
				createColorPalette(browns);
				toggleColorsBox();
			}, false);
			document.getElementById("grayButton").addEventListener("click", function() {
				changeButtonText("Gray");
				clearColorPalette();
				createColorPalette(grays);
				toggleColorsBox();
			}, false);
			document.getElementById("swapper").addEventListener("click", function() {
				togglePaletteSpectrum();
			}, false);
			reds = ["#620505", "#990000", "#D20000", "#F63737", "#FEAFAF", "#FF7777", "#FFCBCB"];
			oranges = ["#C16107", "#CE6123", "#EE5600", "#FF7A00", "#FF9B3F", "#FFA573", "#FFC8A0"];
			yellows = ["#C09600", "#E4B303", "#F0BB00", "#F4EF65", "#FFE600", "#FFF3B7", "#FFF500"];
			greens = ["#09BA25", "#109B04", "#14FF00", "#22840A", "#4FCF4C", "#69E484", "#98EEBA"];
			blues = ["#004368", "#00728B", "#0085FF", "#00C2FF", "#2CD9FF", "#4A819F", "#A5DEFF"];
			indigos = ["#0010A4", "#013380", "#1500F8", "#2558A4", "#3C6ADF", "#5A51BD", "#878FDC"];
			violets = ["#380678", "#4613B1", "#5E3B8B", "#6100FF", "#7C4BE4", "#A564D8", "#C896E8"];
			browns = ["#561E05", "#683609", "#764A21", "#883507", "#8A5334", "#8A7234", "#AD8B62"];
			grays = ["#000000", "#302F2F", "#616161", "#818181", "#A1A1A1", "#C8C5C5", "#D8D9D9"];
			createColorPalette(reds);
			let favoritesBtn1 = document.getElementById("favoritesButton1");
			let favoritesBtnWrapper1 = document.getElementById("favoritesBtn1");
			favoritesBtn1.onchange = function() {
				favoritesBtnWrapper1.style.background = favoritesBtn1.value;
				cp.history.push(favoritesBtn1.value);
			}
			favoritesBtnWrapper1.style.background = favoritesBtn1.value;
			let favoritesBtn2 = document.getElementById("favoritesButton2");
			let favoritesBtnWrapper2 = document.getElementById("favoritesBtn2");
			favoritesBtn2.onchange = function() {
				favoritesBtnWrapper2.style.background = favoritesBtn2.value;
				cp.history.push(favoritesBtn2.value);
			}
			favoritesBtnWrapper2.style.background = favoritesBtn2.value;
			let favoritesBtn3 = document.getElementById("favoritesButton3");
			let favoritesBtnWrapper3 = document.getElementById("favoritesBtn3");
			favoritesBtn3.onchange = function() {
				favoritesBtnWrapper3.style.background = favoritesBtn3.value;
				cp.history.push(favoritesBtn3.value);
			}
			favoritesBtnWrapper3.style.background = favoritesBtn3.value;
			let favoritesBtn4 = document.getElementById("favoritesButton4");
			let favoritesBtnWrapper4 = document.getElementById("favoritesBtn4");
			favoritesBtn4.onchange = function() {
				favoritesBtnWrapper4.style.background = favoritesBtn4.value;
				cp.history.push(favoritesBtn4.value);
			}
			favoritesBtnWrapper4.style.background = favoritesBtn4.value;
			let favoritesBtn5 = document.getElementById("favoritesButton5");
			let favoritesBtnWrapper5 = document.getElementById("favoritesBtn5");
			favoritesBtn5.onchange = function() {
				favoritesBtnWrapper5.style.background = favoritesBtn5.value;
				cp.history.push(favoritesBtn5.value);
			}
			favoritesBtnWrapper5.style.background = favoritesBtn5.value;
			let favoritesBtn6 = document.getElementById("favoritesButton6");
			let favoritesBtnWrapper6 = document.getElementById("favoritesBtn6");
			favoritesBtn6.onchange = function() {
				favoritesBtnWrapper6.style.background = favoritesBtn6.value;
				cp.history.push(favoritesBtn6.value);
			}
			favoritesBtnWrapper6.style.background = favoritesBtn6.value;
			let favoritesBtn7 = document.getElementById("favoritesButton7");
			let favoritesBtnWrapper7 = document.getElementById("favoritesBtn7");
			}
	</script>
	<!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-light bg-white">
		<div class="container-fluid">
			<!-- Left side -->
			<div class="d-inline-block">
				<button class="navbar-toggler" type="button" onclick="openNav()">
					<span class="navbar-toggler-icon"></span>
				</button>
				<a class="navbar-brand mx-3" href="#" style="font-size: 32px">Drawing 1</a>
				<!-- Collapsible -->
				<div id="sidebar" class="sidebar">
					<div class="d-flex align-items-center">
						<div id="menu" class="flex-fill">Menu</div>
						<div><a href="javascript:void(0)" class="mt-3" onclick="closeNav()"><i class="fas fa-angle-left"></i></a></div>
					</div>
					<a href="#">Share</a>
					<a href="#">Rotate page</a>
					<a href="#">Rename</a>
					<a href="#">Open</a>
					<a href="#">Delete</a>
				</div>
			</div>
			<!-- Right side -->
			<div class="">
				<i class="fas fa-undo-alt fa-2x mx-3"></i>
				<i class="fas fa-redo-alt fa-2x mx-3"></i>
				<h4 class="d-inline-block" style="cursor: pointer" data-bs-toggle="modal" data-bs-target="#exampleModal">Import</h4>
			</div>
		</div>
	</nav>
	<div class="container mx-1 px-0">
		<div class="row" style="height: 80vh">
			<div class="col-1">
				<button class="my-2" style="border:none; background:none">
					<img src="https://drive.google.com/uc?export=view&id=1HuRjyxs4-58evKpvQoV4GURqF7_c7oRc" style="width:50px; height:50px; border:none; background:none">
				</button>
				<br>
				<button class="my-2" style="border:none; background:none">
					<img src="https://drive.google.com/uc?export=view&id=1m2sJdbAZTD4J2IpUovsb_nW4dSEaTGIU" style="width:50px; height:50px; border:none; background-color:none">
				</button>
				<br>
				<button class="my-2" style="border:none; background:none">
					<img src="https://drive.google.com/uc?export=view&id=1LaDbUvSaCpWZAiIT0QPRc1mcLeUbH-sQ" style="width:50px; height:50px; transform: scaleY(-1); border:none; background-color:none">
				</button>
				<br>
				<button class="my-2" style="border:none; background:none">
					<img src="https://drive.google.com/uc?export=view&id=1Eg9r5s3ypHZIDc8Yr42XGE_hExMCaYIc" style="width:50px; height:50px; border:none; background-color:none">
				</button>
				
				<br>
				<button class="my-2" style="border:none; background:none">
					<img src="https://drive.google.com/uc?export=view&id=1gkYTLOPP0lXwu1m0so-SEAnpXV6rrBDb" style="width:50px; height:50px; border:none; background-color:none">
				</button>
				<br>
				<button class="my-2" style="border:none; background:none">
					<img src="https://drive.google.com/uc?export=view&id=17JPTKPnlLGVnLUi5-jxmGXrxFP-on7uF" style="width:50px; height:50px; border:none; background-color:none">
				</button>
				<br>
				<button class="my-2" style="border:none; background:none">
					<img src="https://drive.google.com/uc?export=view&id=1aww0XNHvF_DLDYRvkiJURCeLxr1Jss-O" style="width:50px; height:50px; border:none; background-color:none">
				</button>
				<br>
				<button class="my-2" style="border:none; background:none">
					<img src="https://drive.google.com/uc?export=view&id=1S-o6VJ3cKrvAgkzfBpft9IwoeVMs_xkz" style="width:50px; height:50px; border:none; background-color:none">
				</button>
				<br>
				<button class="my-2" style="border:none; background:none">
					<img src="https://drive.google.com/uc?export=view&id=1SbWgax3ht9TKao_LX6WGQOeGmvWBZqFm" style="width:50px; height:50px; border:none; background-color:none">
				</button>
				
				<br>

				
			</div>
			<div class="col-11">
				<canvas id="myCanvas" style="width:750px; height:750px; position:relative; left:85px;"></canvas>
				<div id="color-palette"></div>
			</div>
			<br>
			<br>
			<hr style="color: lightgray">
			<br>
		</div>
		<div class="container row" style="height:10vh; position: relative; top: 5vh">
			<div class="col" style="position: relative; top: -3vh; left: 6vw; width: 40vw">
				<p style="position: relative; left: 5vw; margin-bottom: 2px; font-size: 26px">Favorites</p> 
				
				<button class="favoritesButton" id="favoritesBtn1">
					<input type="color" class="favoritesInput" value="#ffffff" id="favoritesButton1">
				</button>
				<button class="favoritesButton" id="favoritesBtn2">
					<input type="color" class="favoritesInput" value="#ffffff" id="favoritesButton2">
				</button>
				<button class="favoritesButton" id="favoritesBtn3">
					<input type="color" class="favoritesInput" value="#ffffff" id="favoritesButton3">
				</button>
				<button class="favoritesButton" id="favoritesBtn4">
					<input type="color" class="favoritesInput" value="#ffffff" id="favoritesButton4">
				</button>
				<button class="favoritesButton" id="favoritesBtn5">
					<input type="color" class="favoritesInput" value="#ffffff" id="favoritesButton5">
				</button>
				<button class="favoritesButton" id="favoritesBtn6">
					<input type="color" class="favoritesInput" value="#ffffff" id="favoritesButton6">
				</button>
				
				

				
			</div>
			<div class="col-1">
				<button id="swapper" style="border:none; background: none; height: 40px; width: 30px; transform: rotate(90deg); position: relative; left: 16vw; top: 4vh">
					<img src="https://drive.google.com/uc?export=view&id=1iNZcNNlKu1bkbT-vateSKxBHZzOucole" style="height: 70px; width: 95px; padding-right: 2vh">
				</button>
				
			</div>
			<div class="col-7" style="position: relative; top: 3vh; left: 12vw">
				<div id="colors-box" style="width:22vw; height:10vh; background-color: aliceblue; position: relative; top: -100px; float: right; left: -2.5vw"> 
					<button id="redButton" style="border:none; background:none;" >
				
						Red
						
					</button>
					<button id="orangeButton" style="border:none; background:none; position: relative; left: 3vw">
					    Orange
					</button>
					<button id="yellowButton" style="border:none; background:none; float: right">
						Yellow
					</button>
					<button id="greenButton" style="border:none; background:none">
						Green
					</button>
					<button id="blueButton" style="border:none; background:none; position: relative; left: 1.5vw" >
						Blue
					</button>
					<button id="indigoButton" style="border:none; background:none; float: right">
						Indigo
					</button>
					<button id="violetButton" style="border:none; background:none">
						Violet
					</button>
					<button id="brownButton" style="border:none; background:none; position: relative; left: 1.7vw">
						Brown
					</button>
					<button id="grayButton" style="border:none; background:none; float: right; left: -1.3vw; position: relative">
						Gray
					</button>
				</div>
				<div id="palette" style="visibility: visible">
					<div style="top:-50px;">
					<img src="https://drive.google.com/uc?export=view&id=1zpfkgPnGqVulRbMxLE4eBXrtN4hPazOI" alt="asd" style="height:14px; width:14px; position:relative; left: 21.5vw; ">
					<button id="toggleColorsBoxButton" style="border:black; background: none; margin-top: -50px; padding-left: 18.5vw; position: relative; left: 6vw; top: -10vh; font-size: 26px" >
						Red 
					</button>
					
					<div id="reds" style="padding-left: 2vw; top:-10vh"></div>
					</div>
				<div id="spectrum" style="visibility: hidden; position:relative; top: -200px; left: 4vw; width: 40vw">
					<img src="https://drive.google.com/uc?export=view&id=1CM880zm5sLq3ger5tjQFN6yY_4tDjZlJ" style="width: 50vw">
				</div>
				
					
				</div>
				</div>
				
				
			</div>
			
		</div>

		<!--overlay-->
		<div id="overlay"></div>
		<!--modal-->
		<div class="modal fade" id="exampleModal" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header d-inline-flex flex-row">
						<a type="button" data-bs-dismiss="modal">Close</a>
						<div class="modal-title d-inline-block pl-5">
							<h5 class="d-inline">Photos</h5>
							<h5 class="d-inline">Albums</h5>
						</div>
						<div></div>
					</div>
					<div class="modal-body">
						<h5>My Albums</h5>

						<h5>Media Types</h5>
						<ul>
							<li>
								<a href="" style="text-decoration: none">Screenshots</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	

	<!-- bootstrap -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<!-- font awesome -->
    <script src="https://kit.fontawesome.com/5476543f0a.js" crossorigin="anonymous"></script>
	<script>
		function openNav() {
			document.getElementById("overlay").style.display = "block";
			document.getElementById("sidebar").style.width = "250px";
			
		}

		function closeNav() {
			document.getElementById("overlay").style.display = "none";
			document.getElementById("sidebar").style.width = "0";
			
		}
	</script>
</body>
</html>